services:
  db:
    image: "postgres:11-alpine"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOST_AUTH_METHOD: trust
    # restart: always
    ports:
      - "5432:5432"
    volumes:
      - "database:/var/lib/postgresql/data/"

  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    depends_on:
      - db
    # environment:
    # MIX_ENV: dev
    # env_file:
    # - .env
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/:/app/frontend
      - /app/node_modules
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  database:
